/*use prefix free!!*/

html {
    background: rgb(255,255,255);
}

body {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
}

input {
    font-size:18px;
    font-family:'Roboto Slab', serif;   
}

input[type="text"] {
    text-align:center;
    border:0;
    border-radius:.15em;
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: .25em;
    background: rgb(255,255,255);
    margin: 0 0 10px 0;
}

.short {
    width: 3em;
}

/*will need to use position: fixed on something to get the top to stay at the top*/

#anotherContainerBoo {
    position: relative;
    overflow: hidden;
}

header, #dataEntry {
    min-width: 100%;
    background: rgb(168,0,0);  
    text-align: center;  
}

header {
    margin: 0 auto;
    z-index: 3;
    padding: .75em 0;
    position: fixed;
    width: 100%;
    background: rgb(168,0,0);  
}

header img {
    padding-left: 1.5em;
    -webkit-transform: scale(.75);
}

#dataEntry {
    padding: 1em 0;
    font-size: 18px;
    line-height: 1.5em;
    position: inherit;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#dataEntry a {
    text-decoration: none;
}

.fancyShow {
    top: 7em;
    transition: all 250ms ease-out;
}

.fancyHide {
    top: -15em;
    transition: all 250ms ease-in;
}

#extraDataEntry {
    position:inherit;
}

#dataDisplay {
    position: inherit;
}

.switch, .button {
    padding: .25em .5em;
    margin: 0;
	transition: 50ms linear;
    border-radius: .25em;
    cursor: pointer;
    cursor: hand;
}

.switch {
    background: rgb(100,100,100);
    color: rgb(150,150,150);
}

.switch:hover {
    background: rgb(120,120,120);
    color: rgb(170,170,170);
}

.button {
    background: rgb(199,158,90);
    color: rgb(255,255,255);
    max-width: 2em;
    margin: 0 auto;
}

.button:hover {
    background: rgb(219,178,110);
    transition-duration: 0s;
}

input[type="radio"]:checked + .switch {
    background: rgb(199,158,90);
    color: rgb(255,255,255);
}

#bar {
    background: rgb(255,255,255);
    z-index: 4;
}

#tab {
    background: rgb(168,0,0);
    margin: 0 5% 0 75%;
    padding: .25em .5em .5em .5em;
    max-width: 6em;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    color: rgb(255,255,255);
    border-radius: 0 0 .25em .25em;
    cursor: pointer;
    cursor: hand;
}

.formatData {
    margin: 0 1em;
    line-height: 2;
}

* [contenteditable="true"] {
    padding: .5em;
}

* [contenteditable="true"]:hover {
    border-radius: .25em;
    border: dashed 1px rgb(200,200,200);
}

#bottomInfo {
    position: relative;
    text-align: left;
    margin: 0 auto;
    max-width: 95%;
    line-height: 1.5em;
}

#bottomInfo a {
    color: rgb(199,158,90);
    text-decoration: none;
}

#bottomInfo a:hover {
    text-decoration: underline;
}

.goldText {
    color: rgb(199,158,90);
}
    
ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

img {
    /*background: dimgray;
    border: 1px solid black;
    border-radius: 2px;*/
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    max-width: 95%;
}
